#orderDetailPanel .panel-heading:before {display: none}
#orderDetailPanel .title {position: relative;}
#orderDetailPanel .title:before {position: absolute; top: 3px; left: -16px; display: block; width: 3px; height: 18px; content: ' '; background: #1ca5ff; border-radius: 0 4px 4px 0;}